{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Edit Article</h1>

    <font color="green">{{ message }}</font>

    <form action="/article/update/{{ article.getSlug() }}" method="post">
        <div>
            <label>Name</label>
        </div>
        <div>
            <input type="text" name="name" value="{{ article.getName() }}" required />
        </div>
        <div>
            <label>Content</label>
        </div>
        <div>
            <textarea name="content" required>{{ article.getContent() }}</textarea>
        </div>

        <button type="submit">Save</button>
    </form>

<a href="/article">Back</a>
</div>
{% endblock %}
