{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Articles Lists</h1>
    <font color="green">{{ message }}</font>
    <br>

    <a href="/article/add">Add</a>
    <table>
      <tr>
          <th>Name</th>
          <th>Actions</th>
      </tr>
    {% for article in articles %}
      <tr>
          <td>{{ article.name }}</td>
          <td><a href="/article/show/{{ article.getId() }}">Show</a></td>
          <td><a href="/article/edit/{{ article.getId() }}">Edit</a></td>
          <td><a href="/article/delete/{{ article.getId() }}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
